<div id="gollum-editor" data-escaped-name="{{escaped_name}}" class="{{#is_create_page}}create{{/is_create_page}}{{#is_edit_page}}edit{{/is_edit_page}}">
<div style="display:none; " id="image_dropdown">
  <select>
    {{#image_list}}
      <option value="{{path}}">{{name}}</option>
    {{/image_list}}

  </select>
</div>
{{#is_create_page}}
{{{create_document_form_tag}}}
{{/is_create_page}}
{{#is_edit_page}}
{{{edit_document_form_tag}}}
{{/is_edit_page}}
  <fieldset id="gollum-editor-fields">
  <div id="gollum-editor-title-field" class="singleline">
    <label for="page" class="jaws">Page Title</label>
    <input type="text" name="page_title" id="gollum-editor-page-title" value="{{page_name}}">
    
  </div>
  
  <div id="gollum-editor-meta-section" class="collapsed">
    <a href="#" class="button"><span>Expand/Collapse</span></a>
    <h4>Extras</h4>
    <div class="fields">
      {{#meta_fields}}
        {{#is_text}}
          <div id="gollum-extras-{{field_name}}" class="singleline field">
            <label for="extras-{{field_name}}">{{human_field_name}}</label>
            <input type="text" name="extras[{{field_name}}]" id="extras-{{field_name}}" value="{{field_value}}">
          </div>
        {{/is_text}}
        {{#is_fulltext}}
          <div id="gollum-extras-{{field_name}}" class="textarea">
            <label for="extras-{{field_name}}">{{human_field_name}}</label>
            <textarea id="extras-{{field_name}}" name="extras[{{field_name}}]">{{field_value}}</textarea>
          </div>
        {{/is_fulltext}}
        {{#is_asset}}
          <div id="gollum-extras-{{field_name}}" class="dropdown">
            <label for="extras-{{field_name}}">{{human_field_name}}</label>
            
            <br />
            <select id="extras-{{field_name}}" name="extras[{{field_name}}]">
              <option value=""></option>
              {{#field_assets_list}}
                <option value="{{path}}" {{#selected}}selected{{/selected}}>{{name}}</option>
              {{/field_assets_list}}
            </select>
          </div>
        {{/is_asset}}
        {{#is_image}}
          <div id="gollum-extras-{{field_name}}" class="dropdown">
            <label for="extras-{{field_name}}">{{human_field_name}}</label>
            <br />
            <select id="extras-{{field_name}}" name="extras[{{field_name}}]">
              <option value=""></option>
              {{#field_image_list}}
                <option value="{{path}}" {{#selected}}selected{{/selected}}>{{name}}</option>
              {{/field_image_list}}
            </select>
          </div>
        {{/is_image}}


      {{/meta_fields}}
      
        <div id="gollum-extras-page-name" class="singleline field">
            <label for="extras-page-name">Filename</label>
            <input type="text" name="page_name" id="extras-page-name" value="{{name}}">
          </div>
{{#is_create_page}}
          
        <div id="gollum-extras-content-type" class="singleline field">
            <label for="extras-content-type">Content Type</label>

            <select name="extras[content_type]" id="extras-content-type">
            {{#content_types}}
              <option value="{{val}}">{{human}}</option>
              {{/content_types}}
            </select>
          </div> 
    {{/is_create_page}}
{{#is_edit_page}}
    <input type="hidden" name="extras[content_type]" value="{{content_type}}" />
    {{/is_edit_page}}
    </div>
    
  </div>
  {{inspection}}
  <div id="gollum-editor-function-bar">
    <div id="gollum-editor-function-buttons">
    <a href="#" id="function-bold" class="function-button">
      <span>Bold</span></a>
    <a href="#" id="function-italic" class="function-button">
      <span>Italic</span></a>
    <a href="#" id="function-code" class="function-button">
      <span>Code</span></a>
    <span class="function-divider">&nbsp;</span>
    <a href="#" id="function-ul" class="function-button">
      <span>Unordered List</span></a>
    <a href="#" id="function-ol" class="function-button">
      <span>Ordered List</span></a>
    <a href="#" id="function-blockquote" class="function-button">
      <span>Blockquote</span></a>
    
    <a href="#" id="function-hr" class="function-button">
      <span>Horizontal Rule</span></a>
    <span class="function-divider">&nbsp;</span>
    <a href="#" id="function-h1" class="function-button">
      <span>h1</span></a>
    <a href="#" id="function-h2" class="function-button">
      <span>h2</span></a>
    <a href="#" id="function-h3" class="function-button">
      <span>h3</span></a>
    <span class="function-divider">&nbsp;</span>
    <a href="#" id="function-link" class="function-button">
      <span>Link</span></a>
    <a href="#" id="function-image" class="function-button">
      <span>Image</span></a>
    <span class="function-divider">&nbsp;</span>
    <a href="#" id="function-help" class="function-button">
      <span>Help</span></a>
    </div>
      
    <div id="gollum-editor-format-selector"> 
      <input type="hidden" id="wiki_format" name="format" value="markdown">
      
    </div>
  </div>
  <div id="gollum-editor-help" class="jaws">
    <ul id="gollum-editor-help-parent">
      <li><a href="javascript:void(0);" class="selected">Help 1</a></li>
      <li><a href="javascript:void(0);">Help 1</a></li>
      <li><a href="javascript:void(0);">Help 1</a></li>
    </ul>
    <ul id="gollum-editor-help-list">
      <li><a href="javascript:void(0);">Help 2</a></li>
      <li><a href="javascript:void(0);">Help 3</a></li>
      <li><a href="javascript:void(0);">Help 4</a></li>
      <li><a href="javascript:void(0);">Help 5</a></li>
      <li><a href="javascript:void(0);">Help 6</a></li>
      <li><a href="javascript:void(0);">Help 7</a></li>
      <li><a href="javascript:void(0);">Help 8</a></li>
    </ul>
    <div id="gollum-editor-help-wrapper">
      <div id="gollum-editor-help-content">
      <p>
      </p>
      </div>
    </div>
  </div>
    <textarea id="gollum-editor-body"
     data-markup-lang="{{format}}" name="content">{{content}}</textarea>
    
    
    <span class="jaws"><br></span>
    <input type="submit" id="gollum-editor-submit" value="Save" title="Save current changes">
    <br />
  </fieldset>
</form>
</div>
