<div id="wiki-wrapper" class="history">
<div id="head">
  <h1>History for <strong>{{title}}</strong></h1>
  <ul class="actions">
  <li class="minibutton"><a href="{{pages_list_path}}"
       class="action-view-page">Page List</a></li>
    <li class="minibutton"><a href="http://{{preview_url}}/{{escaped_name}}.html"
       class="action-view-page">View Page</a></li>
    <li class="minibutton"><a href="{{edit_document_path}}"
       class="action-edit-page">Edit Page</a></li>
  </ul>
</div>
<div id="wiki-history">
  
  <ul class="actions">
    <li class="minibutton"><a href="javascript:void(0);"
       class="action-compare-revision">Compare Revisions</a></li>
  </ul>

  {{{compare_document_form_tag}}}
  <fieldset>
  <table>
    <tbody>
      
      {{#versions}}
      <tr>
        <td class="checkbox">
          <input type="checkbox" name="versions[]" value="{{id}}">
        </td>
        <td class="author">
          <a href="javascript:void(0)">
            <img src="http://www.gravatar.com/avatar/{{gravatar}}?s=16"
             alt="avatar: {{author}}" class="mini-gravatar">
            <span class="username">{{author}}</span>
          </a>
        </td>
        <td class="commit-name">
          <span class="time-elapsed">{{date}}:</span>&nbsp;
          {{message}}
          
        </td>
      </tr>
      {{/versions}}
      
    </tbody>
  </table>
  </fieldset>
  </form>
</div>
<div id="footer">
  <ul class="actions">
    <li class="minibutton"><a href="javascript:void(0);"
       class="action-compare-revision">Compare Revisions</a></li>
       
    <!-- only show this button if we have more than 20 revisions -->
    <li class="minibutton"><a href="#"
       class="action-back-to-top">Back to Top</a></li>
  </ul>
</div>
</div>
